* {
  margin: 0;
  padding: 0;
}

.banner {
  padding: 0;
  width: 35;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 1px;
  font-family: "Cairo", sans-serif;
  background-color: #485357;
  align-items: center;
}

span {
  align-items: center;
}

img {
  align-items: center;
}

.skyrim-logo {
  height: 37px;
  width: auto;
  margin-top: 2px;
  margin-left: 20px;
  margin-right: 20px;
}

.questlist {
  border: 2px solid black;
  width: 20%;
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}

li {
  list-style-type: none;
}

.questName {
  margin-bottom: 0px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-top: 1px;
  border-bottom: 1px;
  margin-top: 1px;
  margin-bottom: 1px;
  font-size: 15px;
}

.questDesc {
  margin-bottom: 0px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-top: 1px;
  border-bottom: 1px;
  margin-top: 1px;
  margin-bottom: 1px;
}
